.file-input {
  display: none;
}

.file-input-label {
  display: inline-block;
  width: 100%;
}

label {
  user-select: none;
}

button,
.file-input-label {
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;

  border: 1px solid var(--gray-50);
  background-color: var(--gray-50);
  border-radius: 4px;

  color: black;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

button:disabled {
  cursor: not-allowed;

  background-color: var(--gray-400);
  border-color: var(--gray-400);
}

button:disabled:hover {
  background-color: var(--gray-400);
  border-color: var(--gray-400);
}

button:hover,
.file-input-label:hover {
  background-color: var(--gray-200);
  border-color: var(--gray-200);
}

button.small {
  padding: 4px 8px;
}

/** Outlined button */

button.outline {
  border-color: var(--gray-800);
  background-color: transparent;

  color: white;
}

button.outline:hover {
  border-color: var(--gray-600);
  background-color: var(--gray-800);
}

button.outline:disabled {
  color: var(--gray-600);
}

button.outline:disabled:hover {
  border-color: var(--gray-800);
  background-color: transparent;
}

/** Text button */

button.text {
  border-color: transparent;
  background-color: transparent;

  color: var(--gray-300);
}

button.text:hover {
  background-color: var(--gray-800);
  border-color: var(--gray-800);

  color: white;
}

/** Danger outline button */

button.danger.outline {
  border-color: var(--red-500);
  background-color: transparent;

  color: var(--red-500);
}

button.danger.outline:hover {
  background-color: var(--red-500);

  color: white;
}

button.danger.outline:disabled {
  border-color: var(--red-700);
  color: var(--red-700);
}

button.danger.outline:disabled:hover {
  background-color: transparent;

  color: var(--red-700);
}

/** Danger text button */

button.danger.text {
  color: var(--red-500);
}

button.danger.text:hover {
  background-color: var(--red-500);
  border-color: var(--red-500);

  color: white;
}
