input[type="text"] {
  padding: 8px 16px;

  border: 1px solid var(--gray-800);
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  color: white;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

input[type="text"]:hover {
  border-color: var(--gray-600);
  background-color: var(--gray-800);
}

input[type="text"]:focus {
  border-color: var(--gray-300);
}

input[type="text"]:disabled {
  cursor: not-allowed;
}

input[type="text"]:disabled:hover {
  border-color: var(--gray-800);
  background-color: transparent;
}
