label {
  display: flex;
  flex-direction: column;

  color: var(--gray-200);

  gap: 4px;
}

input[type="text"] {
  padding: 8px 16px;

  border: 1px solid var(--gray-800);
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  color: var(--gray-300);

  transition: all 0.2s ease-in-out;
}

input:disabled {
  cursor: not-allowed;
  filter: opacity(0.5);
}

input[type="text"]:hover {
  border-color: var(--gray-600);
  background-color: var(--gray-800);
}

input[type="text"]:focus {
  border-color: var(--gray-300);
}
