.section-start {
  width: 100%;
  height: 100%;

  z-index: 100;
  position: absolute;
  background-color: var(--gray-950);

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-start div {
  border: 1px solid var(--gray-800);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 4rem;
}

.section-start h2 {
  margin-top: -2vh;
  margin-bottom: 1rem;

  font-size: 2.75rem;
  font-weight: 600;
}

.section-start button {
  width: 100%;
}
